p,h3{
    padding:0;
    margin:0;
}
.cart_warp{
    width:100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: aquamarine;
}
.cart_area{
    width:80%;
    height:700px;
    max-width: 600px;
    margin:auto;
}
.cart_table{
    width: 100%;
    margin-top:30px;
    background-color: #fff;
    border-radius: 10px;
    border-collapse:collapse;
}
.cart_table td,th{
    border-bottom:2px solid aquamarine;
}

.cart_table tr:last-child td{
    text-align: right;
    font-size: 1.3em;
    border-bottom:none;
}
.cart_table th{
    height:30px;
    font-size:12px;
}
.cart_table td {
    width:15%;
    height:50px;
    text-align: right;
    color: blue;
    font-size: 13px;
    letter-spacing: -1px;
    padding: 20px;
}
.cart_table td:nth-child(2){
    width:auto;
    text-align: left;
}
.cart_table td:last-child{
    color:rgb(174, 0, 255);
}
.cart_table td:nth-child(1) img{
    width:100px;
    float:left;
}
.cart_edit{
    display: inline-block;
    padding-top:30px;
}
.cart_paybutton{
    padding:20px;
    float:right;
    margin-top:20px;
    background-color: blue;
    color: #fff;
    border: none;
    border-radius: 5px;
}